@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-primary: "Comic Neue", serif;
    --dark-chocolate: #6C3428;
    --milk-chocolate: #BA704F;
    --latte: #DFA878;
    --pastel-blue: #CEE6F3;
    --pale-dark-green: #86A788;
    --white: #FFFFFF;
    --cream: #FFF6E7;
    --peach: #F9CDC4;
    --pale-chocolate: #AE8D7C;
}